/* GENERAL STYLES */

@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700&family=Outfit:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,700&family=Montserrat:wght@500;700&family=Outfit:wght@400;700&display=swap");

:root {
    /* Primary colors */
    --cream: hsl(30, 38%, 92%);
    --pine: hsl(158, 36%, 37%);

    /* Neutral colors */
    --very-dark-blue: hsl(212, 21%, 14%);
    --dark-grayish-blue: hsl(228, 12%, 48%);
    --white: hsl(0, 0%, 100%);
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background: var(--cream);
}

/* CONTAINERS */

.container {
    max-width: 600px;
    background: var(--white);
    font-family: 'Montserrat', sans-serif;
    color: var(--dark-grayish-blue);
    margin: 0 auto;
    display: flex;
}
.img-container {
    width: 50%;
}
.img-container img {
    height: 100%;
    width: 100%;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
  }
.desc-container {
    width: 50%;
    padding: 2rem;
    font-size: 12px;
}
.category{
    letter-spacing: 0.2rem;
    text-transform: uppercase;
    margin-bottom: 1.75rem;
}
.product-title {
    color: var(--very-dark-blue);
    font-family: 'Fraunces', sans-serif;
    font-size: 2rem;
    line-height: 2rem;
    margin-bottom: 1.75rem;
    padding-right: 2rem;
}
.desc-container .product-description {
    font-size: 14px;
    line-height: 1.4rem;
    margin-bottom: 1.75rem;
    padding-right: 0.5rem;
}
.price {
    display: flex;
}

/* FOOTER AND ATTRIBUTION */

.attribution {
    margin-top: 10px;
    text-align: center;
}